<div class="well text-center">
	<% if user_signed_in? %>
    	<span><h2 style="color: #01796f">Здравствуйте, <%= current_user.email %></span>
		<% else %>
    	<span><h2>Пожалуйста, войдите или зарегистрируйтесь.</span>
	<% end %>
</div>
