<div>
	<% if user_signed_in? %>
        <div  class="col-lg-7">
		  <% @messages.each do |m| %>
		      	<% if m.user_id == m.poster_id %>
			     	<% if @friends.any? {|f| f.id == m.user_id} or @inverse_friends.any? {|i| i.id == m.user_id} %>
    			      	<%= render m %>
    		        <%end%>
    	        <%end%>
          <%end%>
        </div>
        

        <div class="col-lg-5 well text-center" >
            <p/><h2>Хэштеги</h2>
            <h3><%= render '/hashtags/hashtag' %></h3>
        </div>
	<% else %>
        <div class="well pull-center text-center">
            <span><h2>Пожалуйста, войдите или зарегистрируйтесь.</span>
        </div>
	<% end %>
</div>

