<%= render '/persons/main_menu' %>
<div class="col-lg-9 text-center pull-right">

	<div class="well">

		<%= form_for :search, remote: true, url: searches_show_path do |f| %>

	    	      <%= f.text_field :text, id: "field", value: flash[:search]%>
	      	  
	            <%= f.submit "Найти", :class => "btn btn-success", id: "search" %>

	  <% end %>

	</div>

	<div id="results">

	</div>

</div>


<script>
	
	$(document).ready(function(){
		$("#search").trigger("click");
	})

	$("#field").on("input", function(){
		$("#search").trigger("click");
	})

</script>